$alice-blue: #e1e5ee;
$peach-crayola: #f7c59f;
$space-cadet: #2a324b;
$rhythm: #767b91;
$light-periwinkle: #c7ccdb;

$primary-color: $peach-crayola;
$primary-contrast: $space-cadet;

$background-color: $alice-blue;
