$alice-blue: #E1E5EE;
$peach-crayola: #F7C59F;
$space-cadet: #2A324B;
$rhythm: #767B91;
$light-periwinkle: #C7CCDB;

$primary-color: $peach-crayola;
$primary-contrast: $space-cadet;

$background-color: $alice-blue;
